<body>
    <div class="jumbotron card" style="margin-top: 10%; margin-left: 10%;  margin-right: 10%; background-color: azure; padding-bottom: 5%; padding-top: 5%;">
        <h1 class="display-4 text-center" style="margin-bottom: 50px;"><b>Birthday Calendar</b></h1>
        <p class="lead text-center">Do you forget your family or friends birthdays often? Does that get you in uncomfortable situations?
           <br> With our simple app you can organize all the birthdays you forget but are not allowed to. 
        </p>
        <hr class="my-4">
        <p class="text-center">To start simply register or log in if you already own an account.</p>
      </div>
</body>
