<body>
    <div class="jumbotron card" style="margin-top: 10%; margin-left: 10%;  margin-right: 10%; background-color: azure; padding-bottom: 5%; padding-top: 5%;">
        <h1 class="display-4 text-center" style="margin-bottom: 50px;"><b>404 error!</b></h1>
        <p class="lead text-center">Page or resource you were looking for does not exist anymore (or never has).</p>
        <h1 class="text-center">:(</h1>
        <hr class="my-4">
        <p class="text-center">You might want to go to <a href="">homepage</a> and look for something else.</p>
      </div>
</body>
